.sobre {
    p {
        padding: 1em;
        color: #000;
        text-align: center;
        font-weight: 500;
    }
}

.logo {
    display: block;
    margin: auto;
}

.devs {
    ion-avatar img {
        border-radius: 50%;
        max-height: 4rem;
        max-width: 4rem;
    }
    ion-label {
        margin:0;
    }
    .item h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    p {
        padding: 0;
        color: #b6b6b6;
        font-weight: 400;
        font-size: 1.3rem;
    }
}
