// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/configuracoes/configuracoes";
@import "../pages/login/login";
@import "../pages/favoritos/favoritos";
@import "../pages/historico/historico";
@import "../pages/slider/slider";
@import "../pages/sobre/sobre";
@import "../pages/restaurantes/restaurantes";
@import "../pages/lugar-detalhe/lugar-detalhe";

.toolbar-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.item h2 {
    color: #000;
}

.swiper-pagination-bullet {
    background: #FFF;
}

ion-list {
    margin: 0;
}

ion-avatar img {
    border-radius: 3px;
    max-width: 5rem;
    max-height: 5rem;
}

ion-list .item .item-inner {
    border: 0;
}

button.item {
    border-bottom: 1px solid #f5f5f5;
}

.user {
    border: 0;
    background: #f5f5f5;
}

ion-label {
    font: 800 1.3rem 'Roboto', sans-serif;
    color: #4e4e4e;
}


.item > ion-icon    , .item-inner > ion-icon {
    font-size: 3rem;
}

ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
    border-bottom: 1px solid #f5f5f5;
}

.list-bottom {
    position: absolute;
    width: 100%;
    bottom: 0 !important;
}

.social-buttons .button:hover:not(.disable-hover) {
    background-color: #2d3238;
}

.social-buttons .button.activated {
    background-color: #2d3238;
}
