.button-full.button-outline {
    border-width: 1px;
}

.remove-account {
    font-size: 1.3rem;
    font-weight: bold;
    color: #777777;
}

.config ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
    border-bottom: 1px solid #dedede !important;
}

.toast-button {
    color: #f53d3d;
}
