<ion-header>
    <ion-navbar danger>
        <button menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>
        <ion-buttons start right>
            <button [navPush]="searchPage">
                <ion-icon name="md-search"></ion-icon>
            </button>
            <button (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top danger>
        <ion-segment [(ngModel)]="home" light>
            <ion-segment-button value="home">
                <ion-icon name="md-home"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="pedidos">
                <ion-icon name="md-list-box"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <div [ngSwitch]="home">
        <ion-list *ngSwitchCase="'home'" class="home">
            <ion-list *ngFor="let item of items" (click)="openNavDetailsPage(item)">
                <ion-card class="home-cards">
                    <img [src]="'img/' + item.image + '.png'" class="item-image" />
                    <div class="card-title">{{ item.title }}</div>
                    <div class="card-subtitle">{{ item.quantity + " Disponíveis" }}</div>
                </ion-card>
            </ion-list>
        </ion-list>
        <ion-list *ngSwitchCase="'pedidos'" class="pedidos">
            <ion-list>
                <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)">
                    <ion-icon [name]="item.icon" [ngStyle]="{'color': item.color}" item-left></ion-icon>
                    {{ item.title }}
                    <span item-right danger>{{item.time}}</span>
                    <ion-icon name="md-time" danger item-right></ion-icon>
                </button>
            </ion-list>
        </ion-list>
    </div>
</ion-content>
