.home {

}

.price {
    color: #FF0000;
    font-weight: bold;
    float: right;
}

.toolbar-background {
    background-color: #f53d3d;
}

.bar-button-default {
    color: #FFF;
}

.toolbar-title {
    color: #FFF;
}

.home-cards {
    position: relative;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
        width: 100%;
        bottom: 0;
        height: 100%;
    }
}

.toolbar {
    padding: 0;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0, 0.3);
}

ion-segment {
    padding-top: 12px;
}

.pedidos {
    height: 100%;
}

.card-background-page {

  .item-image {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  button, .card-title, .card-subtitle {
    z-index: 99;
  }

  .card-title {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    text-align: center;
    width: 100%;
    color: #fff;
  }

}

.alert-title {
    font-family: 'Roboto Medium';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FF0000;
}

.alert-wrapper {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4)
}

.alert-checkbox[aria-checked=true] .alert-checkbox-icon {
    border-color: #FF0000;
    background-color: #FF0000;
}

.alert-button {
    color: #FF0000;
}

.popover-page {
  .text-to-change div {
    margin: 10px auto;
  }

  ion-row,
  ion-col {
    padding: 0;
  }

  .text-button {
    padding-left: 0;
    text-align: center;
    min-height: 20px;
    line-height: 18px;
  }

  .text-button .item-inner {
    padding-right: 0;
  }

  .text-smaller {
    font-size: 12px;
  }

  .text-larger {
    font-size: 16px;
  }

  .row-dots {
    text-align: center;

    .dot {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 10px auto;
      position: relative;
    }
  }

  .dot-white {
    background-color: rgb(255,255,255);
  }

  .dot-tan {
    background-color: rgb(249,241,228);
  }

  .dot-grey {
    background-color: rgb(76,75,80);
  }

  .dot-black {
    background-color: rgb(0,0,0);
  }

  .dot.selected {
    border-width: 2px;
    border-color: #327eff;
  }

  .text-athelas {
    font-family: "Athelas";
  }

  .text-charter {
    font-family: "Charter";
  }

  .text-iowan {
    font-family: "Iowan";
  }

  .text-palatino {
    font-family: "Palatino";
  }

  .text-san-francisco {
    font-family: "San Francisco";
  }

  .text-seravek {
    font-family: "Seravek";
  }

  .text-times-new-roman {
    font-family: "Times New Roman";
  }
}

&.hairlines {
  .popover-page {
    .text-smaller,
    .row-dots,
    .dot {
      border-width: $hairlines-width;
    }
  }
}
