.login {
    background: #2d3238;

    .logo {
        margin: 20px auto 0;
        display: table;

        img {
            margin-left: 20px;
            width: 125px;
        }
    }

    .item {
        background: transparent;
        color: #FFF;
    }

    ion-item {
        border-bottom: 1px solid #FFF;
    }
    ion-list[inset] {
        margin: 20px 30px;
    }

    ion-list[inset] .item:last-child {
        border-bottom-width: 1px;
        border-radius: 0;
    }

    .toolbar {
        margin: -30px 0px 0px 0px;
        box-shadow: none;
    }

    .toolbar[danger] .toolbar-background {
        background: transparent;
    }

    .social-buttons {
        margin-top: 50px;
        display: flex;
    }
}

ion-icon[item-left] + .item-inner, ion-icon[item-left] + .item-input {
    margin-left: 5px;
}

.login ion-list > .item ion-label {
    color: #FFF;
}

ion-icon.ion-md-person.item-icon {
    margin-top: auto;
}

ion-label[floating] {
    margin: 0px;
}

.btn-title {
    text-transform: none;
}

ion-list {
    .facebook {
        background-color: #387ef5;
    }

    .twitter {
        background-color: #53aac6;
    }

    .google {
        background-color: #ef473a;
    }

}

.login-btn {
    font-size: 10pt !important;
}

.error-box {
    margin-top: 5px;
    font: 500 14px 'Roboto', sans-serif;
    color: #FFF;
}

ion-item.item.item-datetime {
    padding: 0;
}
