<ion-header>
    <ion-navbar danger>
        <button menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content class="login">
    <div class="logo">
        <img src="img/large-logo.png">
    </div>
    <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top danger>
        <ion-segment [(ngModel)]="home" light>
            <ion-segment-button value="home">
                Entrar
            </ion-segment-button>
            <ion-segment-button value="pedidos">
                Cadastrar
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="home">
        <ion-list *ngSwitchWhen="'home'" class="home">
            <ion-list inset>
                <form [ngFormModel]="authForm" (ngSubmit)="onSubmit(authForm.value)">
                    <ion-item [class.error]="!username.valid && username.touched">
                        <ion-icon name="md-person" item-left></ion-icon>
                        <ion-label floating class="login-label">Usuário</ion-label>
                        <ion-input type="text" value="" [ngFormControl]="username"></ion-input>
                    </ion-item>
                    <div *ngIf="username.hasError('required') && username.touched"
                    class="error-box">* O Usuário não pode ficar em branco.</div>
                    <ion-item [class.error]="!password.valid && password.touched">
                        <ion-icon name="md-lock" item-left></ion-icon>
                        <ion-label floating class="login-label">Senha</ion-label>
                        <ion-input type="password" value="" [ngFormControl]="password"></ion-input>
                    </ion-item>
                    <div *ngIf="password.hasError('required') && password.touched"
                    class="error-box">* Senha não pode ficar em branco.</div>
                    <div *ngIf="password.hasError('minlength') && password.touched"
                    class="error-box">* O tamanho mínimo é 8 caracteres.</div>
                    <div *ngIf="password.hasError('checkFirstCharacterValidator') && password.touched"
                    class="error-box">* A senha não pode começar com números.</div>

                    <div padding>
                        <button type="submit" full danger block (click)="loginEnter()" class="login-btn" [disabled]="!authForm.valid">Entrar</button>
                    </div>
                </form>

                <div class="social-buttons">
                    <button full class="facebook">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </button>
                    <button full class="twitter" [hidden]="isLoggedIn"  (click)="authWithTwitter()">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </button>
                    <button full class="google">
                        <ion-icon name="logo-google"></ion-icon>
                    </button>
                </div>
            </ion-list>
        </ion-list>
        <ion-list *ngSwitchWhen="'pedidos'" class="pedidos">
            <ion-list inset>
                <form>
                    <ion-item>
                        <ion-icon name="md-person" item-left></ion-icon>
                        <ion-label floating class="login-label">Nome</ion-label>
                        <ion-input type="text" value=""></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="ios-mail-outline" item-left></ion-icon>
                        <ion-label floating class="login-label">E-mail</ion-label>
                        <ion-input type="text" value=""></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="ios-lock-outline" item-left></ion-icon>
                        <ion-label floating class="login-label">Senha</ion-label>
                        <ion-input type="password" value=""></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="md-calendar" item-left></ion-icon>
                        <ion-label>Data de nascimento</ion-label>
                        <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="myDate">
                            <span class="button-inner">OK</span>
                            <span class="button-inner">Cancelar</span>
                        </ion-datetime>
                    </ion-item>
                    <div padding>
                        <button full danger block (click)="loginEnter()" class="login-btn">Registrar</button>
                    </div>
                </form>
            </ion-list>
        </ion-list>
    </div>
</ion-content>
