<ion-content no-bounce class="slider">
    <ion-buttons end *ngIf="showSkip" class="skip">
        <button (click)="startApp()" clear light>Pular</button>
    </ion-buttons>
    <div class="bg">

        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
            <ion-slide *ngFor="let slide of slides">
                <img [src]="slide.image" class="slide-image"/>
                <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                <p [innerHTML]="slide.description" class="description"></p>
            </ion-slide>
            <ion-slide>
                <img src="img/restaurant.png" class="slide-next"/>
                <h2 class="slide-title">Faminto?</h2>
                <button large clear danger (click)="startApp()">
                    Continuar
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
